/* src/ImageSlider.css */

.slider {
    position: relative;
    width: 1000px; /* Width of the slider */
    height: 500px; /* Height of the slider */
    overflow: hidden; /* Hide overflow */
    margin: auto; /* Center the slider */
    border: 2px solid #1E294D; /* Optional border */
    border-radius: 10px; /* Rounded corners */
    object-fit: cover;
}

.slide {
    position: absolute;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    opacity: 0; /* Hidden by default */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth fade and slide transition */
    transform: translateX(100%); /* Start from the right */
}

.slide.active {
    opacity: 1; /* Show the active slide */
    transform: translateX(0); /* Slide to the center */
}

.slide.prev {
    transform: translateX(-100%); /* Slide out to the left */
}

.slider img {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    border-radius: 10px; /* Rounded corners for the image */
    object-fit:cover;
}
