.total-login-box{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E294D;
}



.center-login-box{
    background-color: #A2E1F5;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-login-box h1{
    text-align: center;
}

.login-input-box{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 25px;
}

.submit-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-input-box input{
    width: 280px;
    margin: 10px;
    height: 35px;
    padding: 2px 0px 2px 20px;
    border-radius: 10px;
    border: none;
    background-color: #1E294D;
    color: #A2E1F5;
}

/* For Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.login-input-box input:focus{
    border: none;
}

.login-input-box div{
    text-align: right;
    width: 100%;
}

.login-input-box div p{
    margin-right: 20px;
}

.login-input-box .btn{
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.btn2{
    font-size: 16px;
    border-style: none;
}

.btn,.btn2{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #1E294D;
    color: #A2E1F5;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button{
    background-color: white;
    color: black;
}

input:focus{
    outline: none;
}